*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: #13131B;
}
nav div{
    background-color: #1C1C26;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    font-family: Outfit;
    /* font-size: medium; */
    cursor: pointer;
    color: white;
}

/* nav ul{
    text-decoration: none;
} */
nav ul li{
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: blanchedalmond;
    text-decoration: underline;
}

nav div:hover{
    color: blanchedalmond;
}

section{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.section--2{
    margin-top: 1px;
    display: flex;
    justify-content: center;
}

.box--2{
    margin: 10px;
    width: 785px;
    height: 375px;
    background-color: #1C1C26;
    color: white;
    font-family: Outfit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.box--3{
    margin: 10px;
    width: 390px;
    height: 375px;
    background-color: #1C1C26;
    color: white;
    font-family: Outfit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.box--{
    margin: 10px;
    width: 285px;
    height: 171px;
    background-color: #1C1C26;
    color: white;
    font-family: Outfit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.y-axis ul li{
    /* margin-left: -82%; */
    text-decoration: none;
}

.box-- div{
    margin: 10px;
}

.box-- div h1{
    font-size: 40px;
}

.box-- div h6{
    font-size: 15px;
}

.box-- div p{
    font-size: 12px;
    color: blanchedalmond;
}

.graph{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph img{
    position: absolute;
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px; /* Adjust height as needed */
    width: 90%;
    position: relative;
    /* background-color: beige; */
    /* margin-left: 15%; */
   
}

.y-axis {
    position: absolute;
    margin-left: -90%;
    height: 100%;
    display: flex;
    top: 60px;
    height: 250px;
    flex-direction: column;
    justify-content: space-between;

}

.bar-chart {
    font-family: Outfit;
    display: flex;
    align-items: flex-end;
    height: 300px;
    width: 80%;
    max-width: 600px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    padding: 20px;
    
}

.bar {
    font-family: Outfit;
    flex: 1;
    margin: 0 10px;
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #3498db;
    position: relative;
    transition: background-color 0.3s;
}

.bar:hover {
    background-color: #2980b9;
}

.bar::after {
    content: attr(label);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: white;
}

.bar-label {
    text-align: center;
    color: white;
    margin-bottom: -18px;
    font-family: outfit;
    font-size: 12px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .switch--container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .switch--container h3{
    margin: 10px;
  }

  .box--3 div h1{
    margin-top: -70px;
  }